// Backgrounds
.bg-blue {
  background-color: blue;
}

.bg-brown {
  background-color: brown;
}

.bg-cyan {
  background-color: cyan;
}

.bg-red {
  background-color: red;
}

.bg-yellow {
  background-color: yellow;
}