// --------------------------------------------------
// Includes
// --------------------------------------------------

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import "_variables.scss";
@import "_utilities.scss";

@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";


// --------------------------------------------------
// Page Components
// --------------------------------------------------

textarea {
  resize: none;
}

.auto-complete {

  .dropdown-menu {
    width: 100%;
  }
}

.color-box {
  border-radius: 0;
  height: 12px;
  width: 12px;

  &:empty {
    display: inline-block;
  }
}

.inner {
  margin: 30px 0;
}
